<ul>
    <% result.forEach(function(item,index){ %>
    <li><%= item.id %></li>
    <li><%= item.product_name %></li>
    <li><%= item.product_type%></li>
    <li><%= item.product_brand%></li>
    <li><%= item.cat_id%></li>
    <li><%= item.cat_name%></li>
    <li><%= item.cat_type%></li>
    <li><%= item.price%></li>
    <li><%= item.is_deleted%></li>
    <% }) %>
  </ul>