<!DOCTYPE html>
<html>
    <%data.forEach((d)=>{%>
						<li><%=d.product_name%></li>
						<li><%=d.product_type%></li>
						<li><%=d.product_brand%></li>
						<li><%=d.cat_id%></li>
						<li><%=d.cat_name%></li>
						<li><%=d.cat_type%></li>
						<li><%=d.price%></li>
						<%});%>
					   
            
</html>